@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: table;
}

body {
    font-family: Rowdies, sans-serif;
    font-weight: 300;
}

header {
    margin: 10px 0 30px;
}

#logo {
    text-align: center;
    font-size: 300%;
    color: black;
    margin: 30px 0 20px;
}

header a {
    text-decoration: none;
}

/* Navigation menu */

#navigation {
    font-size: 150%;
    letter-spacing: 3px;
    text-align: center;
}

#navigation li {
    list-style-type: none;
    display: inline;
    margin-right: 15px;
}

#navigation a {
    color: inherit;
}

#navigation a:hover {
    font-size: larger;
}

.selected {
    border-bottom: 2px solid orange;
    border-radius: 1px;
}

/* Hero image section */

#hero-section {
    width: 100%;
    height: 500px;
    overflow: hidden;
    background-color: black;

    position: relative;
}

#hero-image {
    width: 100%;
    height: 500px;
    background: url('../images/3O7ARORJTNC6FJXXXGM5GCAREU.jpg') no-repeat center center;
    text-align: center;
}

#order-text {
    color: #fff;
    font-size: 120%;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    
    width: 300px;
    height: 200px;
    padding: 20px;

    background-color: rgba(11, 8, 37, 0.7);

    bottom: 50%;
    right: 50%;

    position: absolute;
}

#hero-image div{
    position: relative;
}

#order-btn {
    font-family: Rowdies, sans-serif;
    font-size: 1rem;
    color: black;
    background-color: orange;
    border-radius: 20px;
    width: 10rem;
    height: 2rem;

    top: 50%;
    left: 45%;
    position: absolute;
}

/* Sandwiches section */

.sandwiches {
    background-color: blueviolet;
    width: 100%;
    height: 1600px;
    position: ;
}

.sandwiches img {
    position: ;
}

#sub-one {
    width: 570px;
    height: 380px;
    margin: 20px 0 0 30px ;
}

#sub-two {
    width: 380px;
    height: 570px;
    display: block;
    float: right;
    
}

#sub-three {
    width: 570px;
    height: 380px;
}

/* Footer */

footer {
    height: 100px;
    background-color: #2E4359;
    display: table-row;
    height: 100px;
}

#operations-info {
    margin: 0;
}

#social-links {
    text-align: right;
}

#social-links li {
    display: inline;
    float: right;
    margin: 15px;
}

#social-links a {
    text-decoration: none;
}