@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: table;
}

body {
    font-family: Rowdies, sans-serif;
    font-weight: 300;
}

header {
    margin: 10px 0 30px;
}

#logo {
    text-align: center;
    font-size: 300%;
    color: black;
    margin: 30px 0 20px;
}

header a {
    text-decoration: none;
}

/* Navigation menu */

#navigation {
    font-size: 150%;
    letter-spacing: 3px;
    text-align: center;
}

#navigation li {
    list-style-type: none;
    display: inline;
    margin-right: 15px;
}

#navigation a {
    color: inherit;
}

#navigation a:hover {
    font-size: larger;
}

.selected {
    border-bottom: 2px solid orange;
    border-radius: 1px;
}

/* Hero image section */

#hero-section {
    width: 100%;
    height: 500px;
    overflow: hidden;
    background-color: black;

    position: relative;
    display: flex;
    justify-content: center;
}

#hero-image {
    width: 100%;
    height: 500px;
    background: url('../images/3O7ARORJTNC6FJXXXGM5GCAREU.jpg') no-repeat center center;
}

#order-text {
    color: #fff;
    font-size: 120%;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    text-align: center;

    width: 400px;
    height: 150px;
    padding: 20px;

    background-color: rgba(11, 8, 37, 0.7);
    border-radius: 10px;
    
    top: 50%;
    transform: translate(0, -50%);

    position: absolute;
}

#hero-image div{
    position: relative;
}

#menu-btn {
    font-family: Rowdies, sans-serif;
    font-size: 1.5rem;
    color: black;
    background-color: orange;
    border-radius: 20px;
    width: 10rem;
    height: 2rem;

    top: 140px;
    left: 140px;
    position: absolute;
}

#menu-btn:hover {
    background-color: rgb(216, 141, 1);
  }
  

/* Sandwiches section */

.sandwiches {
    width: 100%;
    height: 1450px;
    box-sizing: border-box;
    position: relative;
}

#sandwiches-container{
    width: 100%;
    height: 800px;
    padding: 3vw 10vw;
    box-sizing: border-box;
    position: absolute;
    
    display: flex;
    flex-direction: column;
}

#sub-one {
    width: 570px;
    height: 380px;
    border-radius: 40px;
}

#sub-two {
    width: 380px;
    height: 570px;
    border-radius: 40px;
}

#sub-three {
    width: 570px;
    height: 380px;
    border-radius: 40px;
}

#sub-four-mobile {
    display: none;
}

.sub-box-item {
    flex-basis: 100%;
    display: flex;
    justify-content: space-around;
}

.item-description {
    text-align: center;
}


/* Start of Menu.html style */

#menu {
    width: 100%;
    height: 1000px;
    position: relative;
}

.background-subs {
    width: 100%;
    height: 1000px;
    z-index: 0;
    background: url('../images/hero-image.jpg') no-repeat center center;
    position: absolute;
}

.menu-frame {
    width: 80%;
    height: 80%;
    padding: 5px;
    background-color: rgba(216, 120, 11, .9);
    border-radius: 20px;
    border: 1px solid black;

    position: absolute;
    margin: 5% 10%;
    z-index: 90;
    display: flex;
}

.menu-card {
    flex-basis: 33.33%;
    text-align: center;
}

#menu-title {
    font-size: 4vw;
    padding: 0;
    margin: 5px;
}

#menu-subtitle {
    font-size: 7vw;
    color: #fff;
    padding: 0;
    margin: 0;
    line-height: 10px;
}

#menu-image-one img {
    width: 70%;
}

#menu-image-two img {
    width: 70%;
    margin: 5% 0;
}

.menu-card > p {
    margin: 5%;
    text-align: center;
}

.menu-section > h3 {
    font-size: 200%;
    color: #fff;
    background-color: black;
    margin: 25px 0 10px;
    border-radius: 20px;
}

.menu-card span {
    font-size: 130%;
    }

.menu-section p {
    color: #505050;
}

.menu-card .menu-section span {
    text-align: left;
}

#call-order {
    font-size: 170%;
    margin: 5% 0 2%;
}

.menu-card p {
    font-size: 120%;
}

.menu-card a {
    text-decoration: none;
    color: #fff;
}

.menu-card button {
    font-family: Rowdies, sans-serif;
    font-size: 1.5rem;
    color: black;
    background-color: orange;
    border-radius: 20px;
    width: 10rem;
    height: 2rem;
}

.menu-card br {
    margin: 20px;
}

/* Contact.html */

#contacts-section {
    width: 100%;
    height: 800px;
    margin: 0 0 30px;
    position: relative;
    
}

#contacts-container {
    width: 85%;
    height: 85%;
    border: 2px solid black;
    display: flex;
    position: absolute;
    padding: 3vw;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#address-container {
    flex: 1.5;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#address-container div {
    margin-top: 40px;
}

#address-container h2 {
    margin-bottom: 20px;
    font-size: 150%;
}

#map-container {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-us-links {
    text-decoration: none;
    color: inherit;
}

#map-embedded iframe {
    height: 600px;
    width: 100%;
    left: 0;
    top: 0;
    box-sizing: border-box;
}

/* Footer */

footer {
    width: 100%;
    height: 200px;
    margin-top: 30px;
    background-color: rgb(235, 136, 24);
    border: 2px solid black;
    display: table-row;
    position: relative;
}

td {
    text-align: center;
    width: 100%;
    height: 25px;
}

#contacts-footer {
    position: absolute;
    left: 20vw;
}

#operations-footer {
    position: absolute;
    left: 45vw;
}

#social-links {
    font-size: 200%;
    position: absolute;
    right: 200px;
    bottom: 30px;
    list-style-type: none;
}

#social-links li {
    display: inline;
}

#social-links a {
    text-decoration: none;
    display: inline;
    color: black;
}




@media screen and (max-width: 1420px) {

    /* Index.html */

    
    .sandwiches {
        width: 100%;
        height: 1450px;
        box-sizing: border-box;
        position: relative;
    }

    #sandwiches-container{
        flex-basis: 100%;
        height: max-content;
        box-sizing: border-box;
        position: absolute;
        overflow: hidden;
        
        display: flex;
        flex-direction: column;
    }

    .img-container {
        width: 100%;
        height: 100%;
    }

    #sub-one {
        width: 100%;
        height: 100%;
        border-radius: 40px;
    }

    #sub-two {
        display: none;
    }

    #sub-three {
        width: 100%;
        height: 100%;
        border-radius: 40px;
    }

    #sub-four-mobile {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 40px;
    }

    .sub-box-item {
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .item-description {
        text-align: center;
    }

    /* Menu.html */

    #menu {
        width: 100%;
        height: 1400px;
        position: relative;
    }
    
    .background-subs {
        width: 100%;
        height: 1400px;
        z-index: 0;
        background: url('../images/hero-image.jpg') no-repeat center center;
        position: absolute;
    }

    .menu-frame {
        width: 80%;
        height: 90%;
        background-color: rgba(216, 120, 11, .9);
        border-radius: 20px;
        border: 1px solid black;
        position: absolute;
        margin: 10% 10%;
        z-index: 90;
        display: flex;
        flex-direction: column;
    }

    .menu-frame img {
        display: none;
    }

    #menu-title {
        font-size: 6vw;
        padding: 0;
        margin: 5px;
    }

    #menu-subtitle {
        font-size: 9vw;
        color: #fff;
        padding: 0;
        margin: 0;
        line-height: 10px;
    }

    .menu-section > h3 {
        font-size: 170%;
        color: #fff;
        background-color: black;
        margin: 25px 0 10px;
        border-radius: 20px;
    }

    /* Contacts.html */

    #contacts-section {
        width: 100%;
        height: 800px;
        position: relative;
        
    }
    
    #contacts-container {
        width: 85%;
        height: 85%;
        border: 2px solid black;
        display: flex;
        flex-direction: column;
        position: absolute;
        padding: 2vw;
        
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #address-container div {
        margin-top: 10px;
    }

    #address-container h2 {
        margin-bottom: 20px;
        font-size: 150%;
    }

    #map-embedded iframe {
        height: 200px;
        width: 100%;
        left: 0;
        top: 0;
        box-sizing: border-box;
    }

    
    #address-container h2 {
        margin-bottom: 20px;
        font-size: 150%;
    }
}
